/* styles_about.css */
html {
  scroll-behavior: smooth;}
/* Specific styles for about.html */
body {
  font-family: 'Roboto', sans-serif; /* Change this to your desired font */
  /* Additional styles for the body */
  margin: 0;
  padding: 0;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: #ffffff;
}


.about-container {
  width: 90%;
  margin: 10px auto; /* Center align by setting left and right margins to auto */
  padding: 0px;
  
}


section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-bottom: 8em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 30px 70px; /* Increase top and bottom padding */
}

.logo-name {
    display: flex;
    margin-top: 0px;

    align-items: center;
}

.logo-name img {
    width: 65px; /* Adjust the width of your logo */
    height: 65px;
    margin-right: 0px; /* Adjust margin between logo and name */
}

.logo-name h2 {
    margin: 0;
}

.navigation {
    display: flex;
}

a {
  text-decoration: none; /* Remove underline */
  outline: none; /* Remove highlight */
  /* Additional styles */
  color: #333;
}

/* Style the anchor elements on hover if needed */
a:hover {
  text-decoration: none; /* Remove underline on hover */
  outline: none; /* Remove highlight on hover */
  /* Additional styles on hover */
  color: #000000;
}
.navigation a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}








.block {
  display: flex;
  align-items: center;
  width: 85%;
  background-color: #fff;
  justify-content: space-evenly;
  margin-bottom: 20px;
  opacity: 0; /* Initially hide the block */
  animation: slideIn 1s forwards; /* Apply animation */  
}

.image {
  flex: 1;
  text-align: center;
  animation: slideInLeft 1s forwards; /* Apply animation for image */
}

.image img {
  width: auto;
  height: 200px;
}

.info {
  animation: slideInRight 1s forwards;
  flex: 2;
  padding: 20px;
   /* Apply animation for info */
  
}

@keyframes slideIn {
  0% { opacity: 0; transform: translateX(-100px); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideInLeft {
  0% { opacity: 0; transform: translateX(-100px); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideInRight {
  0% { opacity: 0; transform: translateX(100px); }
  100% { opacity: 1; transform: translateX(0); }
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 5px;
}



