* Specific styles for about.html */
body {
  font-family: 'Roboto', sans-serif; /* Change this to your desired font */
  /* Additional styles for the body */
  margin: 0;
  padding: 0;
  line-height: 1.6;
  /* Other styles */
  overflow: hidden;
}
.about-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  
}




section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-bottom: 4em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 30px 50px; /* Increase top and bottom padding */
}

.logo-name {
    display: flex;
    margin-top: 0px;

    align-items: center;
}

.logo-name img {
    width: 65px; /* Adjust the width of your logo */
    height: 65px;
    margin-right: 0px; /* Adjust margin between logo and name */
}

.logo-name h2 {
    margin: 0;
}

.navigation {
    display: flex;
}

a {
  text-decoration: none; /* Remove underline */
  outline: none; /* Remove highlight */
  /* Additional styles */
  color: #333;
}

/* Style the anchor elements on hover if needed */
a:hover {
  text-decoration: none; /* Remove underline on hover */
  outline: none; /* Remove highlight on hover */
  /* Additional styles on hover */
  color: #000000;
}
.navigation a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
